

body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-color: #000000;
}

h1 {
	color: #aa00aa;	
	font-size: 8em;
	text-align: center;
	position: fixed;
	bottom: 20px;
	left: 80px;
}

.round {
	border-radius: 50%;
}

.button1 {
	background: #bbbb00;	
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #bbbb00;	
	cursor: pointer;
	display: inline-block;
	height: 160px;
	width: 160px;
	margin: 0;
	text-align: center;
	visibility: visible;
	white-space: nowrap;
	position: fixed;
	top: 140px;
	left: 260px;
	line-height: 145px;
	font-size: 2.7em;
	color: white;
}

.button2 {
	background: #119900;	
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #119900;	
	cursor: pointer;
	display: inline-block;
	height: 90px;
	width: 90px;
	margin: 0;
	text-align: center;
	visibility: visible;
	white-space: nowrap;
	position: fixed;
	top: 110px;
	left: 420px;
	line-height: 80px;
	font-size: 1.8em;
	color: white;
}

.button3 {
	background: #0099ee;	
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #0099ee;	
	cursor: pointer;
	display: inline-block;
	height: 100px;
	width: 100px;
	margin: 0;
	text-align: center;
	visibility: visible;
	white-space: nowrap;
	position: fixed;
	top: 80px;
	left: 520px;
	line-height: 90px;
	font-size: 2em;
	color: white;
}

a:hover   {
    color: #dd00dd;
    text-decoration: none;
}